@page "/EditBeat/"
@using BlazorMaui.Components;
@using BlazorMaui.Services.Interfaces
@inject NavigationManager Navigation
@inject IBeatsService BeatsService
@inject IAuthService Auth

<h1>Beat: @newBeat.Title</h1>

<div>
    <label>Title:</label>
    <input @bind="newBeat.Title" />
</div>

<div>
    <label>BPM:</label>
    <input type="number" @bind="newBeat.Bpm" />
</div>

<div>
    <label>Genre:</label>
    <input @bind="newBeat.Genre" />
</div>


<Button OnClick="() => SaveChanges()">
    @((isSaving != null) ? "Saving..." : "Save")
</Button>
<Button OnClick="async () => await PublishAudio()">
    @((publishMessage != null) ? "Publishing..." : "Publish")
</Button>
<Button onClick="async () => await TrigerDeleteWarning()" CssClass="btn-danger">
    @((deleteMessage != null) ? "Are you sure?" : "Delete")
</Button>
<div class="h-50">
    <span class="text-white-50 font-monospace">@deleteMessage</span>
</div>
@code {
    private Beat newBeat;
    private Beat oldBeat;
    private string? isSaving;
    private string? publishMessage;
    private string? deleteMessage;

    protected override async void OnInitialized()
    {
        newBeat = BeatsService.FileToEdit;
        oldBeat = newBeat;

    }
    private async Task PublishAudio()
    {
        if (!await Auth.IsUserAuthenticatedAsync())
        {
            return;
        }
        var isSuccess = await BeatsService.PublishAudio(newBeat, Auth.UserId);
        if (!isSuccess)
        {
            publishMessage = "Failed to publish";
            return;
        }

        publishMessage = "Published successfully";

    }
    private async Task TrigerDeleteWarning()
    {
        if (string.IsNullOrEmpty(deleteMessage))
        {
            deleteMessage = "Are you sure you want to delete this file? Click delete again";
            return;
        }

        if (await BeatsService.DeleteLocalAudio(oldBeat))
        {

            Navigation.NavigateTo("/");
        }
    }

    private async Task SaveChanges()
    {

        isSaving = "Saving...";
        StateHasChanged();
        await Task.Delay(400);

        BeatsService.UpdateAudio(newBeat, oldBeat);
        Navigation.NavigateTo("/");
    }
}
